.btn {
    height: 2em;
    width: 5em;
    margin: 1em;
    border-radius: 0.25em;
    background-color: $pal3;
    color: white;
    cursor: pointer;
    box-shadow: 2px 5px 16px 0px #0B325E; 
    transition: 0.4s;
}
.btn:hover {
    transition: 0.4s;
    background-color: $pal2;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0);
}