.designRegister{
    min-height: 90vh;
    height: auto;}

.designRegister input {
    width: 20em;
    height: 2em;
    margin: 0.5em;
}

.designRegister input:required{
	border: 2px solid red;
}
.designRegister input:invalid{
	border-color: red;
}
.designRegister input:valid {
	border-color: lightgreen;
}