.designProfile {
min-height: 90vh;
height: auto;
width: 100%;
color: white;
align-items: flex-start;
}

.order {
    position: relative;
    border-radius : 1em;
    margin: 1em;
}

.orderImg {
    width: 15em;
    border-radius : 1em;
}

.delBtn {
    position: absolute;
    width: 75%;
    margin: 0;
    border-radius: 1em;
    font-weight: bold;
    cursor: pointer;
    bottom: 0.5em;
}

.daysLeft {
    position: absolute;
    height: 2em;
    width: 90%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    font-weight: bold;
    top: 0.5em;
    user-select: none; 
}

.orders{
    width: 77vw;
    max-width: 77vw;
    height: 75vh;
    flex-wrap: wrap;
    overflow: auto;
}

.admOrders{
    min-width: 99vw;
    height: 25vh;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.admUsers{
    width: 99%;
    height: 25vh;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.orderList {
    display: inline-block;
    white-space: nowrap;
    width: 16em;
    overflow: hidden;
    margin: 0.2em;
    padding: 0.2em;
    font-size: 0.9em;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
}

.userList {
    display: inline-block;
    white-space: nowrap;
    width: 16em;
    overflow: hidden;
    margin: 0.2em;
    padding: 0.2em;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
}

.uOrders{
    height: 100%;
}

.aDelBtn {
    width: 55%;
    margin: auto;
}