//MOVIE PAGE STYLES
.designMovie {
    min-height: 90vh;
    height: auto;    
    color: white;
    text-align: center;
    justify-content: flex-start;
}

.profileMovie {
    width: 30em;
    margin: auto;
}

.movie_img {
    height: 100%;
    width: 100%;
    border-radius: 1em;
    object-fit: cover;
    }

.rent{
    width: 10em;
    font-size: 1.1em;
}

.confirm{
    height: 12vh;
    width: 80vw;
}
.confirm tr{
    height: 4vh;
}

.movie {
    position: relative;
    height: 75vh;
    width: 75vw;
    border-radius: 1em;
    box-shadow: 3px 3px 10px 2px #000000;
}
.movie:after {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-radius: 1em;
    bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 2em;
    position: absolute;
    width: 100%;
    top: 0.5em;
    z-index: 9;
}

.lenght {
    width: 7em;
}

.movieInfo {
    position: absolute;
    display: flex;
    z-index: 9;
    bottom: 0;
    margin: 0.5em;
    margin-top: 4em;
    border-radius: 1em;
    width: 95%;
    height: 80%;
    font-size: 1.3em;
    overflow: auto;
    align-items: baseline;
}

.movTable {
    margin-top: auto;
    text-align: start;
}